# Virtual Environment
de_env/

# Data files (too large for GitHub)
data/raw/
data/processed/

# Great Expectations uncommitted
great_expectations/uncommitted/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
logs/
*.log

# Airflow logs
airflow/logs/

# OS files
.DS_Store
Thumbs.db

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
